{% extends 'core/core.html' %}
{% load static %} 

{% block content %}
<!-- <section class="container" id="about">
	{% include "cv/my_resume.html"%}
</section>


<section class="container " id="offer">
	{% include "cv/my_offer.html"%}
</section>

<section class="container" id="experiences">
	{% include "cv/my_exp.html" %}
</section> 
 -->
<section class="container" id="formation">
	{% include "cv/my_education.html" %}
</section>

<section class="container" id="skill">
	{% include "cv/my_skills.html" %}
</section>

<section class="container" id="hobbies">
	{% include "cv/my_hobbies.html" %}
</section>


<section class="container" id="success">
	{% include "cv/my_success.html" %}
</section>

{% endblock %}

