<header>
	<h1 class="">Ma Formation </h1>
	<p class="subheading ">Exposition de mes formations et de mes productions.</p>
</header>

<article>
	<div class="container-button-educ">
		{% for educ in education%}
		<div id="cat{{forloop.counter|add:'4'}}" class="arrow display-button very-center-c">{{educ.thematic|upper}}</div>
		{% endfor %}
	</div>
	<div class="paragraphe" id="paragraphe-educ">
		<p id="hint-educ" class="visible hint"> Cliquez sur un bouton ci-dessus pour découvrir les autres. <br>Voici ma dernière formation.</p>
		<div id="example-educ" class="visible">
			<div class="first-line mt-1">
				<div class="first-line-left-part">
					<div class="title-line">
						<h3 class="exp">Développeur d'applications Python/Django</h3>
					</div>
					<p class="subheading"><a href="https://openclassrooms.com/fr/paths/68-developpeur-dapplication-python" target="_blank"> OpenClassrooms</a></p>
					<h4 class="degree">Diplôme niveau 6 (Bac+3/4)</h4>
				</div>
				<p class="first-line-right-part">
					<span class="exp-period">mai 2019 - oct 2020</span>
				</p>
			</div>

			<div class="description "> <ul class="projects">
				<span class="">Voici mes projets (retouvables sur github)</span>

				<li class=""><a href="#">projet13 - site pour la SPA</a></li>
				<li class="">projet12 - Construction d'un outil de veille</li>
				<li class="">projet11 - Amélioration + Tests de mon App du projet 8 </li>
				<li class="">projet10 - Déploiement de mon App du projet 8</li>
				<li class="">projet9 - Documentation d'une application fictive</li>
				<li class=""><a href="#">projet8 - Site web avec Django</a></li>
				<li class=""><a href="#">projet7 - Chat avec Flask</a></li>
				<li class="">projet6 - Rédaction dossier spécifications techniques</li>
				<li class="">projet5 - Importer des données d'une api dans une base de données <br>relationnelle</li>
				<li class="">projet4 - Rédaction dossier spécification fonctionnelle, diagramme UML</li>
				<li class="">projet3 - Mini jeu en pygame (POO)</li>
				<li class="">projet2 - Découverte github</li>
				<li class="">projet1 - Projet de bienvenue</li></ul></div>
			</div>



			{% for educ in education%}
			<div class="hidden {{educ.category}}">
				<div class="first-line mt-1">
					<div class="first-line-left-part">
						<div class="title-line">
							<h3 class="exp">{{educ.degree}}</h3>
						</div>
						<p class="subheading"><a href="{{educ.url}}" target="_blank"> {{educ.text_url}}</a></p>
						<h4 class="degree">{{educ.level}}</h4>
					</div>
					<p class="first-line-right-part">
						<span class="exp-period">{{educ.period}}</span>
					</p>
				</div>

				<div class="description ">{{educ.description|safe}}</div>
			</div>
			{%endfor%}
		</div>

	</article>
