<header>
	<h1 class="">Ma Formation </h1>
	<p class="subheading ">Exposition de mes formations et de mes productions.</p>
</header>

<article>
	<div class="container-button-educ">
		{% for educ in education%}
		<div id="cat{{forloop.counter|add:'4'}}" class="arrow display-button very-center-c">{{educ.thematic|upper}}</div>
		{% endfor %}
	</div>
	<div class="paragraphe" id="paragraphe-educ">
		<p id="hint-educ" class="visible hint"> Cliquez sur un bouton pour afficher son contenu</p>
		{% for educ in education%}
		<div class="hidden {{educ.category}}">
			<div class="first-line mt-1">
				<div class="first-line-left-part">
					<div class="title-line">
						<h3 class="exp">{{educ.degree}}</h3>
					</div>
					<p class="subheading"><a href="{{educ.url}}" target="_blank"> {{educ.text_url}}</a></p>
					<h4 class="degree">{{educ.level}}</h4>
				</div>
				<p class="first-line-right-part">
					<span class="exp-period">{{educ.period}}</span>
				</p>
			</div>

			<div class="description ">{{educ.description|safe}}</div>
		</div>
		{%endfor%}
	</div>

</article>
