
<header class="">
	<h1 class="">Centres d'Intérêt
	</h1>
	<p class="subheading ">Mes centres d'intérêts nourrissent ma curiosité et mon envie d'appendre toujours plus.</p>
</header>
<div class="bg-velo">
	<div class="paragraphe bg-white-trans very-center-c" id="paragraphe-hobbies">
		<p class="text">En dehors du code, j'aime explorer cela peut passer par visiter chacun des petits villages autour de chez moi comme aller visiter un département voisin, une région ou un pays. Mon exploration se fait majoritairement avec vélo, saccoches et tente mais il m'arrive d'utiliser le bus ou la voiture. Je suis attiré par la nature et les rencontres pour partager de bons moments avec des amis ou personnes rencontrées récemment. C'est encore plus marrant en parlant d'autres langues.</p>
		<p class="text ">Lorsque je ne peux pas de sortir (météo, confinement), je joue en ligne ou alors j'étudie, une habitude devenue un plaisir. J'aime apprendre, résoudre des problèmes, m'améliorer et produire/créer. Ma pratique du code répond à tout cela.</p>
	</div>
</div>