<header>
	<h1 class="">Mon Offre </h1>
	<p class="subheading ">En tant que développeur je peux <span class="imp">participer activement à un projet de sa conception à sa livraison</span>.
	</p>
</header>
<article>   
	<div class="paragraphe very-center-c" id="paragraphe-offer">
		<p class="text">Je peux :</p> 
		<ul class="square" id="ul-offer">
			<li>Ecrire des scripts : Python (avec GUI), Shell, environnement Linux et Windows.</li>
			<li>Gèrer des SGBD tels que MySQL et PostgreSQL. </li>
			<li>Utiliser en frontend : HTML, CSS, Sass, JS, React.</li>
			<li>Utiliser en backend : Django et/ou Flask. </li>
			<li>Faire des appels API.</li>
			<li>Déployer en utilisant AWS, Docker, Nginx, Gunicorn.</li>
			<li>M'adapter à votre façon de travailler Git, SCRUM, UML,  TDD, Travis, Sentry, Xtrem Programming.</li>
			<li>Gérer des relations client : démarchage, organiser entretien, suivi tout au long du projet  </li>
			<li>Mettre à votre disposition mes compétences orales, relationnelles et rédactionnelles (français, anglais, russe).</li>
			<li>Télétravailler.</li>
			<li><span class="imp">Me former aux technos dont vous aurez besoin.</span> (cela peut être en autonomie),</li>
		</ul> 
		<p id="evoluting-skill-title"class="text">Compétences en cours d'amélioration :</p>
		<ul class="evoluting-skill pointer very-center-r">
			<li title="je suis ce tutoriel "><a href="https://dev.to/techworld_with_nana/full-docker-course-free-4hl3?utm_source=digest_mailer&utm_medium=email&utm_campaign=digest_email" id="">#Docker</a></li>
			<li title="je refais le css du site avec scss">SCSS</li>
			<li>React</li>
		</ul>	 
	</div>
</article>