<header>
	<h1 class="">Mon Offre </h1>
	<p class="subheading ">En tant que développeur je peux <span class="imp">participer activement à un projet de sa conception à sa livraison</span>.
	</p>
</header>
<article>   
	<div class="paragraphe very-center-c" id="paragraphe-offer">
		<p class="text">Je peux :</p> 
		<ul class="square" id="ul-offer">
			<li><span class="imp">me former aux technos dont vous aurez besoin</span> (cela peut être en autonomie),</li>
			<li>télétravailler,</li>
			<li>mettre à votre disposition mes compétences orales, relationnelles et rédactionnelles (français, anglais, russe),</li>
			<li>utiliser en frontend : HTML, CSS, Sass, JS, React,</li>
			<li>utiliser en backend : Django et/ou Flask, </li>
			<li>faire des appels API</li>
			<li>gèrer des SGBD tels que MySQL et PostgreSQL, </li>
			<li>mettre en place un déploiement en utilisant AWS, Docker, Nginx, Gunicorn, connaissances sur les réseaux,</li>
			<li>m'adapter à votre façon de travailler Git, SCRUM, UML,  TDD, Travis, Sentry, Xtrem Programming</li>
			<li>écrire des scripts : Python (avec GUI), Shell, environnement Linux et Windows.</li>
		</ul> 

		<p class="text">
			Je rajoute à cela des qualités humaines de communication, explication et travail d'équipe. Les retours sont pour moi des possibilités d'améliorations pour tendre vers un haut niveau de compétence.  
		</p>
		<p class="text">Compétences en cours d'amélioration :</p>
		<ul class="ulcol-3 pointer very-center-r">
			<li title="je suis ce tutoriel "><a href="https://dev.to/techworld_with_nana/full-docker-course-free-4hl3?utm_source=digest_mailer&utm_medium=email&utm_campaign=digest_email" id="">#Docker</a></li>
			<li title="je refais le css du site avec scss">SCSS</li>
			<li>React</li>
		</ul>	 
	</div>
</article>