{% load static %}


<header class="">
	<h1 class="">Adrien <span class="">CLUPOT</span><span class="additional_info">(29ans et disponible)</span>
	</h1>
	<p class="subheading ">6 rue pierre de Ronsard, 24100 Bergerac · 06.46.55.59.88 ·
		<a href="mailto:name@email.com">adrien.clupot@gmail.com</a>
	</p>
</header>
<article class="very-center-c">		
	<div id="paragraphe-resume" class="paragraphe very-center-c">

		<p class="text">
			<span class="imp">Développeur Junior d'applications  Python/Django</span>, j'ai un profil tourné vers le <span class="imp"> dépassement</span>, la <span class="imp">persévérance</span> et la <span class="imp">probité</span>. Mes différentes expériences m'ont amenées du côté de la réalisation, de la transmission, de l'enseignement et de la direction. J'en ai gardé une posture professionnelle et l'importance de prendre du plaisir dans ce que je fais.</span> 
		</p>
		<p class="text"> 
			Une majorité de ma formation s'est faite <span class="imp">à distance </span> parallèlement à mes voyages, m'obligeant à aller chercher l'information par moi-même. J'ai vécu plusieurs expériences à l'étranger ce qui m'a appris le<span class="imp"> respect de chacun </span> et la <span class="imp"> coopération</span> (même en langues étrangères, au seins d'une équipe pluriculturelle). 
		</p>
		<p class="text"><span class="imp">
		Passionné par le Code, je suis à la recherche d'un environnement de travail propice à donner le meilleur de moi-même.</span>
	</p>
	<div class="social-icons">
		<p class="container-logo">
			<a href="https://www.couchsurfing.com/people/adrienclupot" target="_blank">
				<img class="logo mt-5" src="{%static 'core/assets/img/cs.png' %}" alt="logo couchsurfing" title="ma personnalité"></img>
			</a>
		</p>
		<p class="container-logo">
			<a href="https://github.com/blingstand" target="_blank">
				<img class="logo mt-5" src="{%static 'core/assets/img/git.png' %}" alt="logo github" title="mon travail"></img>
			</a>
		</p>
		<p class="container-logo">
			<a href="https://www.linkedin.com/in/adrien-clupot-31ab41154/" target="_blank">
				<img class="logo mt-5" src="{%static 'core/assets/img/lki.png' %}" alt="logo linkedin" title="mon parcours" ></img>
			</a>
		</p>

	</div> 
</article>

