@mixin load_small_about{
	.subheading{
		display: block !important;
	}
	#paragraphe-resume{
		display:flex;
		flex-direction: column; 
		justify-content: space-around;
		height: 60vh; 
		margin-top: 5vh; 
		&:hover{
			font-size: 1.2rem;
			transform: translateY(-7vh);
			height: 75vh;
		}
	}
	.additional_info{
		display: none; 
	}
	#paragraphe-resume{
		.social-icons{
			display:none;
		}
	}
}