{% load static%}

<p class="nav-maj very-center-c">mis à jour le 04/11</p>

<div class="nav-container-portrait">

  <div class="front-card very-center-c">

    <img id="portrait" src="{% static 'core/assets/img/portrait.png'%}" alt="">

  </div>

  <div class="back-card">
    <a href="{%static 'core/assets/pdf/CV_Dev_Python_Django.pdf'%}"><img id="minicv" class=" "></a>

  </div>
</div>
<div id="menu-social-icons-grp" class="social-icons very-center-r">
  <p class="container-logo">
    <a href="https://www.couchsurfing.com/people/adrienclupot" target="_blank">
      <img class="logo" src="{%static 'core/assets/img/cs.png' %}" alt="logo couchsurfing" title="ma personnalité"></img>
    </a>
  </p>
  <p class="container-logo">
    <a href="https://github.com/blingstand" target="_blank">
      <img class="logo " src="{%static 'core/assets/img/git.png' %}" alt="logo github" title="mon travail"></img>
    </a>
  </p>
  <p class="container-logo">
    <a href="https://www.linkedin.com/in/adrien-clupot-31ab41154/" target="_blank">
      <img class="logo " src="{%static 'core/assets/img/lki.png' %}" alt="logo linkedin" title="mon parcours" ></img>
    </a>
  </p>
</div>

<p id="menu-toggle">
  <label for="toggle">&#9776;</label>
</p>

<div class="nav-menu">
  <div class="nav-menu-stars"> * * * * * * </div>
  <ul class="nav-menu-ul">
    <li class="nav-menu-ul-li">
      <a href="#about" class="">A propos</a>
    </li>
    <li class="nav-menu-ul-li">
      <a href="#offer">Offre</a>
    </li>
    <li class="nav-menu-ul-li">
      <a href="#experiences">Expériences </a>
    </li>
    <li class="nav-menu-ul-li">
      <a href="#formation">Formation</a>
    </li>
    <li class="nav-menu-ul-li">
      <a href="#skill">Compétences</a>
    </li>
    <li class="nav-menu-ul-li">
      <a href="#hobbies">Centres d'Intérêt</a>
    </li>
    <li id="nav-success" class="nav-menu-ul-li ">
      <a href="#success">Réussites</a>
    </li>
  </ul>
  <div class="nav-menu-stars"> * * * * * * </div>


</div>
</nav>