{% load static%}

<div class="maj">mis à jour le 22/10</div>

<div>
    <div class="front-card">
     <img id="portrait" src="{% static 'core/assets/img/portrait.png'%}" alt="">
    </div>
    <div class="back-card">
      <a href="{%static 'core/assets/pdf/CV_Dev_Python_Django.pdf'%}"><img id="minicv" class=" "></a>
    </div>
</div>



<!-- <button class=" ">
  <span class=" "></span>
</button> -->
<div class="">
  <ul class="nav-list">
    <hr class=" ">
    <li class=" ">
      <a href="#about" class="">A propos</a>
    </li>
    <li class=" ">
      <a href="#offer">Offre</a>
    </li>
    <li class=" ">
      <a href="#exp">Expériences </a>
    </li>
    <li class=" ">
      <a href="#formation">Formation</a>
    </li>
    <li class=" ">
      <a href="#skill">Compétences</a>
    </li>
    <li class=" ">
      <a href="#interest">Centres d'Intérêt</a>
    </li>
    <li class=" ">
      <a href="#success">Réussites</a>
    </li>
    <hr class=" ">
  </ul>

</div>
</nav>