/* main */
    .imp{
        font-weight : bold;}

/* logos */
    .logo{
        height: 3.5rem;
        width: 3.5rem;
        margin-top:  -0.5rem;
    }
    .social-icons a {
        background-color: white; 
    }
