/* page of scss style for nav */ 

/* easy to modify */

@import "libs/loops.scss";
@import "libs/mixins.scss";
@import "libs/skill.scss";
@import "libs/responsive.scss";
@import "libs/rotating_border.scss";

@import "split/big_size/body.scss";
@import "split/big_size/main.scss";
@import "split/big_size/nav.scss";

@import "split/small_size/body.scss";
@import "split/small_size/nav.scss";
@import "split/small_size/main.scss";

@import "split/small_size/about.scss";
@import "split/small_size/offer.scss";
@import "split/small_size/exp.scss";
@import "split/small_size/educ.scss";
@import "split/small_size/skill.scss";
@import "split/small_size/hobbies.scss";
@import "split/small_size/success.scss";


//color
$primary: #cc6a1b; 
$secondary: #066084;
$third_color : #d9e6f2;
$fourth-color: #eef6f5; 
$color-text: #001133;  
$border-color: black;


//small nav
$height-nav-bar: 4rem;

::-webkit-scrollbar {
	display: none;
	scroll-padding-top: 0;
}
*, ::before, ::after {
	box-sizing: border-box; 
	margin:  0;
	padding:  0; 
	scroll-behavior: smooth;
	scrollbar-width: none;
}

$media_query: (
	$mobile: 10px, $tablet-and-lower: 15px, $tablet-landscape: 14px,
	$laptop: 16px, $desktop: 25px);

@each $name_mq, $size_font in $media_query {
	@media #{$name_mq}{
		html{
			font-size: $size-font; 
		}
	}
}


// @media #{$tablet}{
// 	body{
// 		display: block;
// 		overflow-y: scroll; 
// 	}
// }

//small screen
@media #{$tablet-and-lower}{ 
	::-webkit-scrollbar {
		// display: block;
		// scrollbar-width: 3vw;
		// scrollbar-height: 100vh; 
	}
	body{
		@include load_small_body();
	}
	nav{
		@include load_small_nav(); 
	}
	main{
		@include load_main();
		@include load_small_main(); 
	}
	//about
	#about{
		@include load_small_about(); 
	}	
	//my offer
	#offer{
		@include load_small_offer(); 
	}
	//exp
	#experiences{
		@include load_small_exp(); 
	}
	//educ
	#formation{
		@include load_small_educ(); 
	}
	//skill
	#skill{
		@include load_small_skill(); 
	}
	//hobbies
	#hobbies{
		@include load_small_hobbies(); 
	}
	//success
	#success{
		@include load_small_success(); 
	}
}

@media #{$tablet-landscape}{
	body{
		@include load_body(); 
		overflow: hidden; 
		height:  100vh;
		width:  100%;
		display:  grid;
		grid-template-columns: 15% 1fr; 
	}
	nav{@include load_nav(); 
	}

	main{
		@include load_main();
		// my-resume
		#paragraphe-resume{
			grid-row: 1/7;
			justify-content: space-around;
		}
		.social-icons{
			display: flex; 

			.container-logo{
				text-align: center; 
				margin: 0 2rem;
			}
		}
		.logo{
			width: 3rem;
		}
		.logo:hover{
			background-color: $secondary;
			border-radius: 50%; 
		}
		// my_offer	
		#paragraphe-offer{
			font-size: 1rem; 
			grid-row: 1/7; 
			padding: 1rem;
			#ul-offer{
				width: 90%;
				font-size: 1rem;
				background-color: $third_color;
				padding: 0rem 5% 1rem 5%;
				list-style-type: circle;
			}
			#evoluting-skill-title{
				margin-top: 1rem
			}
			.evoluting-skill{
				margin-bottom: 0; 
				text-align: center; 
				li{
					list-style: none; 
					-webkit-column-count: 3;
					-moz-column-count: 3;
					column-count: 3; 
				} 
			}
		}
		// my_exp
		#article-exp{
			display: grid;
			grid-template-columns: 10% 1fr 10%; 
		}
		.container-exp-button{
			grid-row: 1;
			grid-column: 2;  
			flex-direction: row;
			width: 100%;
			justify-content: space-around;
			width: 100%;
			.display-button{
				background-color: white;
				height: 3rem; 
				width: 8.5rem; 
				font-size: 1rem; 
				border-radius: 10rem; 
				cursor: pointer; 
				color: $color-text; 
				&:hover{
					color: white;
					background-color: $primary;
				}
			}
		}
		#paragraphe-exp{
			grid-row: 2/7; 
			grid-column: 2; 
			width: 100%;
			height: 20rem;
			.first-line{
				cursor: pointer;
				display: grid;
				grid-template-columns: 75% 25%;
				.first-line-left-part{
					margin-left: 1.5rem; 
					.title{
						display: grid; 
						grid-template-columns: 75% 25%;
						.exp{
							margin-bottom: 0; 
							text-align: left;
							cursor: pointer;  
						}
						.container-triangle{
							text-align: center; 
							.triangle{
								cursor: pointer; 
								content: "";
								width: 0;
								height: 0;
								border-top: 20px solid black;
								border-right: 16px solid transparent;
								border-left: 16px solid transparent;
								position: relative; 
								margin-top: -0.5rem;
								bottom: -1rem;
								left: 2rem; 
							}
							.triangle-up {
								transform:rotate(180deg);
							}
						}
					}
					.subheading{
						margin-left: 0;
						margin-bottom: 1rem; 
					}
				}
				.first-line-right-part{
					font-size: 0.8rem; 
					text-align: right; 
					color: $primary;
					font-weight: bold; 
				}
			}
			.description{
				text-indent: 1rem; 
				background-color:  #d9e6f2;
				padding: 1rem;
				margin: 0 1rem 2rem 1rem;  

			}
		}		
		// my_education
		#formation{
			article{
				display: grid;
				grid-template-columns: 30% 70%;  
				grid-template-rows: 100%; 
				align-items: center; 
				width: 100%; 
				margin: 0; 
			}
			.container-button-educ{
				grid-column:1; 
				grid-row: 1; 
				text-align: center; 
				display: grid; 
				grid-template-columns: 20% 60% 20%; 
				.arrow{
					grid-column:2;
					font-weight: bold; 
					clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 9% 51%, 0% 0%);
					height: 3rem;
					cursor: pointer;
					font-size: 0.8rem;
					background-color: #fff;
					width: 13rem;
					margin: 1rem 0; 
					text-align: center;
					&:hover{
						color: white;
						background-color: $primary;
					}
				}
			}
			#paragraphe-educ{
				grid-column:2; 
				grid-row: 1; 
				width: 95%;
				height: 90%;

				.first-line{
					display: grid;
					grid-template-columns: 70% 30%; 
					.title-line{
						grid-column: 1; 
						text-align: left; 
					}
					.subheading{
						margin-bottom: 1rem;
					}
					.degree{
						margin-bottom: 1rem; 
						text-decoration: underline; 
					}
					.first-line-right-part{
						text-align: right;
						padding-right: 1rem; 
						.exp-period{
							color: $primary;
							font-weight: bold; 
						}
					}

				}
				.description{
					background-color: #d9e6f2;
					margin-left: 2rem; 
					.projects{
						list-style: circle; 
						margin-left: 2rem; 
					}
				}
			}

		}	
		// skill

		#paragraphe-skill{
			display: grid; 
			grid-template-columns: 40% 60%; 
			grid-row: 1/7;
			margin: 0 auto;
			padding-top: 3rem;
			width: 90%;
			height: 90%; 
			@include load_skill_circle($size-container-skill:1,  $speed-rotate:25s); 
		}
		.border {
			display: inline-block;
			height: 22rem;
			padding: 0;
			margin: 0;
			display: none;
			visibility: hidden; 
			opacity: 0; 
			@include corner-borders(1rem, 1.5rem);
			& .content {
				display: grid;
				grid-template-rows: 35% 1fr; 
				box-sizing: border-box;
				position: relative;
				padding: 5px;
				width: 50%; 
				height: 100%;
				z-index: 1;
				font-size: 1.2rem; 
				.content-top{
					grid-row: 1/2; 
					.title-comp{
						text-align: center; 
						margin: 0.5rem;
						font-size: 1.2rem; 
					}
					.middle-bar{
						width: 70%;
						margin: 0rem 15%;
					}
					.skill-level-small{
						display: none;}
						.skill-level-big {
							display: flex;
							height: 2em;
							width: 28rem;
							margin: 1rem 0.5rem;
							background-color: rgba(128, 128, 158, 0.4);
						}
						.skill-level-big span, {
							background: #cc941b;
							margin: 0.5rem 0.3rem 0.3rem 0.5rem;
							border-radius: 50%; 
							border: 1px solid black;
							width: 16px;
							height: 12px;
							display: inline-block;
						}
					}
					.content-bottom{
						grid-row: 2/3 ;
						margin: 0 ;
						font-size: 1rem; 
						padding: 1rem;
						p{
							margin-bottom: 0.5rem; } 
							& .underline{
								text-decoration: underline;}
							}
						}
					}
		// hobbies
		.bg-velo{
			grid-row: 2/6; 
			display: grid; 
			grid-template-rows: 1fr 70% 1fr; 
			background: linear-gradient(to bottom, rgba(92, 77, 66, 0.1) 0%, 
				rgba(92, 77, 66, 0.5) 100%), url("../assets/img/fond-velo.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: 90% 100%;
			margin: 0rem 5rem; 
			padding: 0rem 3rem;
			box-sizing: border-box; 

			#paragraphe-hobbies{
				@include load-rotating-border($border-color:$secondary);
				padding: 2rem 1rem ; 
				grid-row: 2; 
				&:hover{
					height: initial;
					transform: translateY(0);
					display:block; 
				}
			}
		}
		//success
		#success{
			height: 100%;
			margin-bottom: 1rem; 
		}
		.paragraphe-success{
			margin: 3rem auto;
			#checkbox-container{
				height: 100%;
				margin: 2rem 0 auto 2rem; 
				font-size: 1.5rem; 
				opacity: 1; 
				transition-duration: 2s; 
				li{
					background-color: $third_color;
					list-style-type: none;
					margin: 0 0 0.5rem 0;

				}
			}
			.checkbox {
				position: relative;
				width: 1rem;
				height: 1rem;
				margin-right: 3rem;
				cursor: pointer;
				appearance: none;
				outline: 0;
				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					width: 1rem;
					height: 1rem;
					border: 2px solid $border-color;
					transition: all 0.3s ease-in-out;
				}

				&:checked:before {
					height: 50%;

					transform: rotate(-45deg);

					border-top-style: none;
					border-right-style: none;
				}
				.checkbox--deep-orange:checked:before {
					border-color: #ff5722;
				}
			}
		}
	}
}

