@charset "UTF-8";
/* page of scss style for nav */
/* easy to modify */
.ulcol-1 {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}

.w-25 {
  width: 25%;
}

.h-25 {
  min-height: 25%;
}

.ulcol-2 {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.w-50 {
  width: 50%;
}

.h-50 {
  min-height: 50%;
}

.ulcol-3 {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
}

.w-75 {
  width: 75%;
}

.h-75 {
  min-height: 75%;
}

.ulcol-4 {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
}

.w-100 {
  width: 100%;
}

.h-100 {
  min-height: 100%;
}

.show-1 span:nth-child(n+2) {
  background-color: white !important;
}

.show-2 span:nth-child(n+3) {
  background-color: white !important;
}

.show-3 span:nth-child(n+4) {
  background-color: white !important;
}

.show-4 span:nth-child(n+5) {
  background-color: white !important;
}

.show-5 span:nth-child(n+6) {
  background-color: white !important;
}

.show-6 span:nth-child(n+7) {
  background-color: white !important;
}

.show-7 span:nth-child(n+8) {
  background-color: white !important;
}

.show-8 span:nth-child(n+9) {
  background-color: white !important;
}

.show-9 span:nth-child(n+10) {
  background-color: white !important;
}

.show-10 span:nth-child(n+11) {
  background-color: white !important;
}

/*
0		480			768			1024		1600
				   pt chgt
mobile	 |	tablet 	 | tab-land	 | laptop	 | desktop
	titre en haut	 |		titre latéral

*/
::-webkit-scrollbar {
  display: none;
  scroll-padding-top: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 769px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1600px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    display: block;
    scrollbar-width: 3vw;
    scrollbar-height: 100vh;
  }

  body {
    scroll-behavior: smooth;
    scroll-y: auto;
    transition-duration: 500ms;
  }
  body .imp {
    font-weight: bold;
  }
  body .visible {
    display: block !important;
  }
  body .hidden {
    display: none;
  }
  body .very-center, body #success .paragraphe-success #checkbox-container, #success .paragraphe-success body #checkbox-container, body #skill #paragraphe-skill, #skill body #paragraphe-skill, body #formation article .container-button-educ div, #formation article .container-button-educ body div, body #experiences .container-exp-button p, #experiences .container-exp-button body p, body .social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  body .bg-primary {
    background-color: #ea9f63 !important;
  }
  body .bg-primary .checkbox {
    background-color: #fff;
  }
  body .social-icons {
    width: 100%;
  }
  body .social-icons .logo {
    width: 3rem;
  }
  body .hint {
    text-align: center;
    display: none;
  }
  body .example-exp, body .example-educ {
    display: none;
  }

  nav {
    text-align: center;
    z-index: 2;
    top: 0;
    position: fixed;
    height: 4rem;
    width: 100vw;
    background-color: #cc6a1b;
    display: flex;
    flex-wrap: wrap;
  }
  nav .nav-maj {
    display: none;
  }
  nav .nav-container-portrait {
    display: none;
  }
  nav #menu-social-icons-grp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75vw;
    z-index: 2;
    margin-top: 0.5rem;
    padding-left: 7vw;
  }
  nav #menu-toggle {
    display: block;
    position: sticky;
    position: -webkit-sticky;
    text-align: center;
    font-size: 2rem;
    padding-top: 1rem;
    z-index: 3;
    height: 4rem;
    width: 25vw;
  }
  nav .slide-in {
    transform: translateY(86vw);
  }
  nav .nav-menu {
    height: 18rem;
    position: relative;
    top: -87vw;
    z-index: 1;
    margin: 0 auto;
    background-color: #cc6a1b;
    width: 100%;
    transition: transform 1s;
  }
  nav .nav-menu .nav-menu-stars {
    display: none;
  }
  nav .nav-menu .nav-menu-ul .nav-menu-ul-li {
    margin: 0.6rem;
  }
  nav .nav-menu .nav-menu-ul .nav-menu-ul-li a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
  }
  nav .nav-menu .nav-menu-ul .nav-menu-ul-li:last-child {
    margin-bottom: 1rem;
  }

  main {
    display: grid;
    grid-template-rows: repeat(7, 93vh);
    margin-top: 4rem;
    width: 100%;
  }
  main section.container {
    display: grid;
    grid-template-rows: 15vh 1fr;
    scroll-padding-top: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }
  main section.container header {
    height: 12vh;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  main section.container header:hover {
    transform: inherit;
  }
  main section.container .subheading {
    display: none;
  }
  main section.container .paragraphe {
    grid-row: 1/6;
    margin: 0 10vw 0 1vw;
    width: 90vw;
    transition: transform 1s, height 2s, font-size 2s;
  }
  main section.container .paragraphe:hover {
    font-size: 1.2rem;
    transform: translateY(-10vh);
    height: 75vh;
  }

  #about .subheading {
    display: block !important;
  }
  #about #paragraphe-resume {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  #about .additional_info {
    display: none;
  }
  #about #paragraphe-resume .social-icons {
    display: none;
  }

  #offer .subheading {
    display: none;
  }
  #offer #paragraphe-offer {
    grid-row: 2;
    height: 60vh;
  }
  #offer #paragraphe-offer:hover {
    font-size: 1.05rem;
    transform: translateY(-5vh);
    height: 80vh;
  }
  #offer #paragraphe-offer #ul-offer {
    background-color: #d9e6f2;
    list-style: circle;
    padding: 0rem 5% 1rem 5%;
  }
  #offer #paragraphe-offer #ul-offer li {
    margin-bottom: 0.2rem;
  }
  #offer #paragraphe-offer .evoluting-skill-title {
    margin: 1rem;
  }
  #offer #paragraphe-offer .evoluting-skill {
    margin-bottom: 0;
    text-align: center;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  #offer #paragraphe-offer .evoluting-skill li {
    list-style: none;
  }

  #experiences {
    grid-template-rows: repeat(8, 1fr);
  }
  #experiences header {
    grid-row: 1;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  #experiences header .subheading {
    display: none;
  }
  #experiences article {
    grid-row: 2;
  }
  #experiences article #example-exp {
    display: none;
  }
  #experiences article .paragraphe {
    grid-row: 2/7;
    height: 60vh;
  }
  #experiences article .paragraphe:hover {
    height: 70vh;
    transform: translateY(-14vh);
  }
  #experiences article .paragraphe .exp-content {
    margin: 1rem 0;
    padding-bottom: 1rem;
  }
  #experiences article .paragraphe .exp-content .title h3 {
    text-align: left;
    font-size: 1.2rem;
  }
  #experiences article .paragraphe .exp-content .container-triangle {
    display: none;
  }
  #experiences article .paragraphe .exp-content .first-line-right-part {
    margin-top: 0.5rem;
  }
  #experiences article .paragraphe .exp-content .first-line-right-part .exp-period {
    font-weight: bold;
    color: #cc6a1b;
  }
  #experiences article .paragraphe .exp-content .description {
    padding-bottom: 1rem;
    text-indent: 1rem;
    background-color: #d9e6f2;
    margin: 3px 0;
    padding: 5px;
  }
  #experiences .container-exp-button {
    grid-row: 1;
    display: grid;
    margin: 0 1rem;
    text-align: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 0.5fr 0.5fr;
  }
  #experiences .container-exp-button p .display-button {
    width: 80%;
    border-radius: 10px 10px 0 0;
    height: 1.5rem;
  }
  #experiences .container-exp-button p:last-child {
    grid-column: 1/3;
    padding: 0 25%;
  }

  #formation {
    grid-template-rows: repeat(8, 1fr);
  }
  #formation article {
    grid-row: 2/9;
  }
  #formation article #example-educ {
    display: none;
  }
  #formation article .container-button-educ {
    grid-row: 1;
    display: grid;
    margin: 0 1rem;
    text-align: center;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 0.5fr 0.5fr;
  }
  #formation article .container-button-educ div {
    width: 95%;
    background-color: #fff;
    border-radius: 10px 10px 0 0;
    height: 1.5rem;
  }
  #formation article .paragraphe {
    grid-row: 2/7;
    margin: 1rem 0;
    padding-bottom: 1rem;
    height: 60vh;
  }
  #formation article .paragraphe:hover {
    height: 77vh;
    transform: translateY(-17vh);
  }
  #formation article .paragraphe .title-line h3 {
    text-align: left;
    font-size: 1.2rem;
  }
  #formation article .paragraphe .container-triangle {
    display: none;
  }
  #formation article .paragraphe .first-line-right-part {
    margin-top: 0.5rem;
  }
  #formation article .paragraphe .first-line-right-part .exp-period {
    font-weight: bold;
    color: #cc6a1b;
  }
  #formation article .paragraphe .description {
    padding-bottom: 1rem;
    text-indent: 1rem;
    background-color: #d9e6f2;
    margin: 3px 0;
    padding: 5px;
  }

  #skill header h1 {
    font-size: 2.6rem;
  }
  #skill #paragraphe-skill {
    grid-row: 2/7;
    margin: 0 10vw 0 0;
    padding-top: 3rem;
    width: 90vw;
    height: 45vh;
  }
  #skill #paragraphe-skill:hover {
    display: grid;
    grid-template-rows: 50% 50%;
    transform: translateY(-20vh);
    height: 85vh;
  }
  #skill #paragraphe-skill #container-skill {
    grid-column: 1;
    width: 18rem;
    height: 18rem;
    margin: 1rem auto;
    border: 1px solid #000;
    position: relative;
    border-radius: 50%;
    animation: spin 10s linear infinite;
  }
  #skill #paragraphe-skill .centered-skill-circle {
    grid-column: 1/3 !important;
  }
  #skill #paragraphe-skill .skill {
    text-transform: uppercase;
    width: 6rem;
    height: 6rem;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    background: #cc941b;
    animation: spin 10s linear reverse infinite;
  }
  #skill #paragraphe-skill .skill:hover {
    cursor: pointer;
    background-color: #ffb733;
  }
  @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  }
  #skill #paragraphe-skill #container-skill {
    width: 10rem;
    height: 10rem;
  }
  #skill #paragraphe-skill .skill {
    width: 5rem;
    height: 5rem;
  }
  #skill #paragraphe-skill .border {
    height: 39vh;
    display: none;
    padding: 0;
    margin: 0;
    position: relative;
    border: 1rem solid grey;
    background-color: white;
  }
  #skill #paragraphe-skill .border::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    left: 1.5rem;
    right: 1.5rem;
    background-color: white;
  }
  #skill #paragraphe-skill .border::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 1.5rem;
    bottom: 1.5rem;
    left: -1rem;
    right: -1rem;
    background-color: white;
  }
  #skill #paragraphe-skill .border .content {
    display: block;
    box-sizing: border-box;
    position: relative;
    padding: 5px;
    z-index: 1;
    font-size: 1rem;
    overflow-y: scroll;
    height: 34vh;
  }
  #skill #paragraphe-skill .border .content .content-top {
    grid-row: 1/2;
  }
  #skill #paragraphe-skill .border .content .content-top .title-comp {
    text-align: center;
    margin: 0.5rem;
    font-size: 1.2rem;
  }
  #skill #paragraphe-skill .border .content .content-top .middle-bar {
    width: 70%;
    margin: 0rem 15%;
  }
  #skill #paragraphe-skill .border .content .content-top .skill-level-big {
    display: none;
  }
  #skill #paragraphe-skill .border .content .content-top .skill-level-big .skill-level-small {
    display: flex;
    height: 2em;
    margin: 1rem 0.5rem;
    background-color: rgba(128, 128, 158, 0.4);
  }
  #skill #paragraphe-skill .border .content .content-top .skill-level-big .skill-level-small span {
    background: #cc941b;
    margin: 0.5rem 0.3rem 0.3rem 0.5rem;
    border-radius: 50%;
    border: 1px solid black;
    width: 16px;
    height: 12px;
    display: inline-block;
  }
  #skill #paragraphe-skill .border .content .content-bottom {
    grid-row: 2/3;
    margin: 0;
    font-size: 1rem;
    padding: 1rem;
  }
  #skill #paragraphe-skill .border .content .content-bottom p {
    margin-bottom: 0.5rem;
  }
  #skill #paragraphe-skill .border .content .content-bottom p .underline {
    text-decoration: underline;
  }

  #hobbies .bg-velo {
    grid-row: 2/4;
    height: 60vh;
  }
  #hobbies .bg-velo #paragraphe-hobbies {
    font-size: 1.3rem;
  }
  #hobbies .bg-velo #paragraphe-hobbies:hover {
    height: 80vh;
    transform: translateY(-5vh);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  #success {
    display: grid;
    grid-template-columns: 100vw;
    height: 90vh;
    margin-bottom: 1rem;
  }
  #success header {
    grid-row: 1;
  }
  #success header h1 {
    font-size: 2.6rem;
  }
  #success .hover-effect, #success .paragraphe:hover {
    height: 75vh !important;
    transform: translateY(-10vh);
  }
  #success .paragraphe {
    grid-row: 2/5;
    height: 50vh;
  }
  #success .paragraphe-success {
    margin: 3rem auto;
  }
  #success .paragraphe-success #checkbox-container {
    flex-direction: column;
    height: 100%;
    font-size: 1.2rem;
    opacity: 1;
    transition-duration: 2s;
  }
  #success .paragraphe-success #checkbox-container li {
    background-color: #d9e6f2;
    width: 100%;
    list-style-type: none;
    margin: 0;
  }
  #success .paragraphe-success #checkbox-container .opacity-0 {
    opacity: 0;
  }
  #success .paragraphe-success .checkbox {
    position: relative;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    appearance: none;
    outline: 0;
  }
  #success .paragraphe-success .checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
  }
  #success .paragraphe-success .checkbox:checked:before {
    height: 50%;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
  }
  #success .paragraphe-success .checkbox .checkbox--deep-orange:checked:before {
    border-color: #ff5722;
  }
}
@media only screen and (min-width: 769px) {
  body {
    background-color: #066084;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 1fr;
  }
  body .bg-white-trans {
    background-color: #fff;
    opacity: 0.4;
    cursor: pointer;
    transition-duration: 2s;
  }
  body .bg-white-trans:hover {
    opacity: 1;
  }
  body .bg-primary {
    color: white;
    background-color: #cc6a1b !important;
  }
  body .hidden {
    display: none;
  }
  body .hint {
    margin: 0 15%;
    text-align: center;
    display: none;
    margin-bottom: 2rem;
  }
  body #example-exp, body #example-educ {
    display: none;
  }
  body .imp {
    font-weight: bold;
  }
  body .opacity-0 {
    opacity: 0;
  }
  body .opacity-1 {
    opacity: 1;
  }
  body .pointer {
    cursor: pointer;
  }
  body .very-center-c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .very-center-r {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  body .visible {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
    transition-delay: 200ms;
  }
  body .mt-1 {
    margin-top: 1rem;
  }
  body .mt-2 {
    margin-top: 2rem;
  }
  body .mt-3 {
    margin-top: 3rem;
  }
  body .mt-4 {
    margin-top: 4rem;
  }
  body .mt-5 {
    margin-top: 5rem;
  }

  nav {
    color: white;
    background: #fcaa3e;
    background: #fc8a3e;
    background: radial-gradient(circle, #fc8a3e 4%, #e77400 68%, #e74900 88%);
    color: #001133;
    display: grid;
    transition-duration: 2s;
    -webkit-transition-duration: 0.2s;
    transition: all 2s;
  }
  nav .nav-maj {
    margin: 1rem;
    font-size: 1rem;
    font-style: italic;
    color: white;
    text-align: center;
  }
  nav #menu-toggle, nav #menu-social-icons-grp {
    display: none;
  }
  nav .nav-container-portrait {
    display: grid;
    grid-template-columns: 12% 76% 12%;
    grid-template-areas: "a b c";
  }
  nav .nav-container-portrait .front-card {
    grid-area: b;
  }
  nav .nav-container-portrait .back-card {
    display: none;
  }
  nav .nav-container-portrait #portrait {
    width: 75%;
    border-radius: 50%;
    -moz-box-shadow: 10px 10px 10px 2px black;
    -webkit-box-shadow: 10px 10px 10px 2px black;
    -o-box-shadow: 10px 10px 10px 2px black;
    box-shadow: 10px 10px 10px 2px black;
  }
  nav .nav-menu-stars {
    color: #fff;
  }
  nav .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  nav .nav-menu .nav-menu-ul {
    list-style-type: none;
    font-size: 120%;
    margin-bottom: 1.3rem;
    text-align: center;
  }
  nav .nav-menu .nav-menu-ul .nav-menu-ul-li {
    margin: 20px 5px;
  }
  nav .nav-menu .nav-menu-ul .nav-menu-ul-li:hover {
    transform: scale(1.25);
    content: " > ";
  }
  nav .nav-menu .nav-menu-ul a {
    text-decoration: none;
    color: white;
  }
  nav .nav-menu .nav-menu-ul a:hover {
    font-weight: bold;
  }

  main {
    display: grid;
    grid-template-rows: repeat(7, 38rem);
    overflow-y: scroll;
    background-color: #066084;
    padding: 1%;
    margin: 0 default;
  }
  main .container {
    overflow-y: scroll;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
  main .container header {
    grid-row: 1/2;
    flex-direction: column;
    transform: scale(1);
    transform: translate(0);
    transition: all 800ms;
  }
  main .container header:hover {
    transform: scale(1.05) translate(5rem);
  }
  main .container header h1, main .container header .subheading {
    color: #eef6f5;
  }
  main .container header h1 a, main .container header .subheading a {
    color: #cc6a1b;
    font-weight: bold;
  }
  main .container header h1 {
    color: #d9e6f2;
    font-size: 3rem;
    margin: 2% 3% 0 3%;
    text-align: left;
  }
  main .container header .additional_info {
    font-size: 1rem;
  }
  main .container header .subheading {
    font-size: 1rem;
    margin: 0 3% 3% 3%;
    font-weight: none;
    text-decoration: italic;
  }
  main .container article {
    grid-row: 2/5;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    flex-direction: column;
  }
  main .container .paragraphe {
    grid-row: 2/6;
    margin: auto;
    width: 80%;
    height: 100%;
    color: #001133;
    font-size: 1rem;
    background-color: #eef6f5;
    padding: 2rem 1rem;
    text-align: justify;
    border-radius: 5rem 0;
    overflow-y: scroll;
  }
  main .container .paragraphe .text {
    text-indent: 1rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  main #paragraphe-resume {
    grid-row: 1/7;
    justify-content: space-around;
  }
  main .social-icons {
    display: flex;
  }
  main .social-icons .container-logo {
    text-align: center;
    margin: 0 2rem;
  }
  main .logo {
    width: 3rem;
  }
  main .logo:hover {
    background-color: #066084;
    border-radius: 50%;
  }
  main #paragraphe-offer {
    font-size: 1rem;
    grid-row: 1/7;
    padding: 1rem;
  }
  main #paragraphe-offer #ul-offer {
    width: 90%;
    font-size: 1rem;
    background-color: #d9e6f2;
    padding: 0rem 5% 1rem 5%;
    list-style-type: circle;
  }
  main #paragraphe-offer #evoluting-skill-title {
    margin-top: 1rem;
  }
  main #paragraphe-offer .evoluting-skill {
    margin-bottom: 0;
    text-align: center;
  }
  main #paragraphe-offer .evoluting-skill li {
    list-style: none;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
  main #article-exp {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
  }
  main .container-exp-button {
    grid-row: 1;
    grid-column: 2;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    width: 100%;
  }
  main .container-exp-button .display-button {
    background-color: white;
    height: 3rem;
    width: 8.5rem;
    font-size: 1rem;
    border-radius: 10rem;
    cursor: pointer;
    color: #001133;
  }
  main .container-exp-button .display-button:hover {
    color: white;
    background-color: #cc6a1b;
  }
  main #paragraphe-exp {
    grid-row: 2/7;
    grid-column: 2;
    width: 100%;
    height: 20rem;
  }
  main #paragraphe-exp .first-line {
    cursor: pointer;
    display: grid;
    grid-template-columns: 75% 25%;
  }
  main #paragraphe-exp .first-line .first-line-left-part {
    margin-left: 1.5rem;
  }
  main #paragraphe-exp .first-line .first-line-left-part .title {
    display: grid;
    grid-template-columns: 75% 25%;
  }
  main #paragraphe-exp .first-line .first-line-left-part .title .exp {
    margin-bottom: 0;
    text-align: left;
    cursor: pointer;
  }
  main #paragraphe-exp .first-line .first-line-left-part .title .container-triangle {
    text-align: center;
  }
  main #paragraphe-exp .first-line .first-line-left-part .title .container-triangle .triangle {
    cursor: pointer;
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid black;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    position: relative;
    margin-top: -0.5rem;
    bottom: -1rem;
    left: 2rem;
  }
  main #paragraphe-exp .first-line .first-line-left-part .title .container-triangle .triangle-up {
    transform: rotate(180deg);
  }
  main #paragraphe-exp .first-line .first-line-left-part .subheading {
    margin-left: 0;
    margin-bottom: 1rem;
  }
  main #paragraphe-exp .first-line .first-line-right-part {
    font-size: 0.8rem;
    text-align: right;
    color: #cc6a1b;
    font-weight: bold;
  }
  main #paragraphe-exp .description {
    text-indent: 1rem;
    background-color: #d9e6f2;
    padding: 1rem;
    margin: 0 1rem 2rem 1rem;
  }
  main #formation article {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  main #formation .container-button-educ {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }
  main #formation .container-button-educ .arrow {
    grid-column: 2;
    font-weight: bold;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 9% 51%, 0% 0%);
    height: 3rem;
    cursor: pointer;
    font-size: 0.8rem;
    background-color: #fff;
    width: 13rem;
    margin: 1rem 0;
    text-align: center;
  }
  main #formation .container-button-educ .arrow:hover {
    color: white;
    background-color: #cc6a1b;
  }
  main #formation #paragraphe-educ {
    grid-column: 2;
    grid-row: 1;
    width: 95%;
    height: 90%;
  }
  main #formation #paragraphe-educ .first-line {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  main #formation #paragraphe-educ .first-line .title-line {
    grid-column: 1;
    text-align: left;
  }
  main #formation #paragraphe-educ .first-line .subheading {
    margin-bottom: 1rem;
  }
  main #formation #paragraphe-educ .first-line .degree {
    margin-bottom: 1rem;
    text-decoration: underline;
  }
  main #formation #paragraphe-educ .first-line .first-line-right-part {
    text-align: right;
    padding-right: 1rem;
  }
  main #formation #paragraphe-educ .first-line .first-line-right-part .exp-period {
    color: #cc6a1b;
    font-weight: bold;
  }
  main #formation #paragraphe-educ .description {
    background-color: #d9e6f2;
    margin-left: 2rem;
  }
  main #formation #paragraphe-educ .description .projects {
    list-style: circle;
    margin-left: 2rem;
  }
  main #paragraphe-skill {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-row: 1/7;
    margin: 0 auto;
    padding-top: 3rem;
    width: 90%;
    height: 90%;
  }
  main #paragraphe-skill #container-skill {
    grid-column: 1;
    width: 18rem;
    height: 18rem;
    margin: 1rem auto;
    border: 1px solid #000;
    position: relative;
    border-radius: 50%;
    animation: spin 25s linear infinite;
  }
  main #paragraphe-skill .centered-skill-circle {
    grid-column: 1/3 !important;
  }
  main #paragraphe-skill .skill {
    text-transform: uppercase;
    width: 6rem;
    height: 6rem;
    display: flex;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    background: #cc941b;
    animation: spin 25s linear reverse infinite;
  }
  main #paragraphe-skill .skill:hover {
    cursor: pointer;
    background-color: #ffb733;
  }
  @keyframes spin {
    100% {
      transform: rotate(1turn);
    }
  }
  main .border {
    display: inline-block;
    height: 22rem;
    padding: 0;
    margin: 0;
    display: none;
    visibility: hidden;
    opacity: 0;
    position: relative;
    border: 1rem solid grey;
    background-color: white;
  }
  main .border::before {
    content: "";
    z-index: 0;
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    left: 1.5rem;
    right: 1.5rem;
    background-color: white;
  }
  main .border::after {
    content: "";
    z-index: 0;
    position: absolute;
    top: 1.5rem;
    bottom: 1.5rem;
    left: -1rem;
    right: -1rem;
    background-color: white;
  }
  main .border .content {
    display: grid;
    grid-template-rows: 35% 1fr;
    box-sizing: border-box;
    position: relative;
    padding: 5px;
    width: 50%;
    height: 100%;
    z-index: 1;
    font-size: 1.2rem;
  }
  main .border .content .content-top {
    grid-row: 1/2;
  }
  main .border .content .content-top .title-comp {
    text-align: center;
    margin: 0.5rem;
    font-size: 1.2rem;
  }
  main .border .content .content-top .middle-bar {
    width: 70%;
    margin: 0rem 15%;
  }
  main .border .content .content-top .skill-level-small {
    display: none;
  }
  main .border .content .content-top .skill-level-big {
    display: flex;
    height: 2em;
    width: 28rem;
    margin: 1rem 0.5rem;
    background-color: rgba(128, 128, 158, 0.4);
  }
  main .border .content .content-top .skill-level-big span {
    background: #cc941b;
    margin: 0.5rem 0.3rem 0.3rem 0.5rem;
    border-radius: 50%;
    border: 1px solid black;
    width: 16px;
    height: 12px;
    display: inline-block;
  }
  main .border .content .content-bottom {
    grid-row: 2/3;
    margin: 0;
    font-size: 1rem;
    padding: 1rem;
  }
  main .border .content .content-bottom p {
    margin-bottom: 0.5rem;
  }
  main .border .content .content-bottom .underline {
    text-decoration: underline;
  }
  main .bg-velo {
    grid-row: 2/6;
    display: grid;
    grid-template-rows: 1fr 70% 1fr;
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.1) 0%, rgba(92, 77, 66, 0.5) 100%), url("../assets/img/fond-velo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90% 100%;
    margin: 0rem 5rem;
    padding: 0rem 3rem;
    box-sizing: border-box;
  }
  main .bg-velo #paragraphe-hobbies {
    border: 0.2rem transparent solid;
    border-top: 0.2rem #066084 solid;
    animation: rotating-border 3s infinite;
    transition: opacity 4s;
    padding: 2rem 1rem;
    grid-row: 2;
  }
  @keyframes rotating-border {
    25% {
      border: 0.2rem transparent solid;
      border-right: 0.2rem #066084 solid;
      border-left: 0.2rem #066084 solid;
    }
    50% {
      border: 0.2rem transparent solid;
      border-top: 0.2rem #066084 solid;
      border-bottom: 0.2rem #066084 solid;
    }
    75% {
      border: 0.2rem transparent solid;
      border-right: 0.2rem #066084 solid;
      border-left: 0.2rem #066084 solid;
    }
    100% {
      border: 0.2rem transparent solid;
      border-top: 0.2rem #066084 solid;
      border-bottom: 0.2rem #066084 solid;
    }
  }
  main .bg-velo #paragraphe-hobbies:hover {
    border: 0.2rem transparent solid !important;
    opacity: 0.9;
  }
  main .bg-velo #paragraphe-hobbies:hover {
    height: initial;
    transform: translateY(0);
    display: block;
  }
  main #success {
    height: 100%;
    margin-bottom: 1rem;
  }
  main .paragraphe-success {
    margin: 3rem auto;
  }
  main .paragraphe-success #checkbox-container {
    height: 100%;
    margin: 2rem 0 auto 2rem;
    font-size: 1.5rem;
    opacity: 1;
    transition-duration: 2s;
  }
  main .paragraphe-success #checkbox-container li {
    background-color: #d9e6f2;
    list-style-type: none;
    margin: 0 0 0.5rem 0;
  }
  main .paragraphe-success .checkbox {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 3rem;
    cursor: pointer;
    appearance: none;
    outline: 0;
  }
  main .paragraphe-success .checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid black;
    transition: all 0.3s ease-in-out;
  }
  main .paragraphe-success .checkbox:checked:before {
    height: 50%;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
  }
  main .paragraphe-success .checkbox .checkbox--deep-orange:checked:before {
    border-color: #ff5722;
  }
}

/*# sourceMappingURL=style.css.map */
